{% block content %}
<div class="row">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.challenge }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>        
    </form>
</div>
<div class="row">
    <div class="center">
        <h6> Login versión {{ version }} </h6>
    </div>
</div>
{% endblock %}