{% extends "base.html" %}
{% block content %}
<div class="pantalla">
    <div class="contenedor">
        <div class="iconoMensaje"> <i class="large material-icons">lock_outline</i> </div>
        <div class="titulos"><B>ACTUALIZAR CONTRASEÑA</B></div>
        <div class="mensaje">Su contraseña se encuentra vencida y debe cambiarla antes de continuar. <br>
            <b>Debe contener al menos 8 caracteres</b>.
        </div>
        {% from "_formhelpers.html" import submit, input_password %}
        <form class="formulario" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ input_password(form.password2) }}
            {{ input_password(form.password2_confirmation)}}
            <button class="btn waves-effect waves-light #1565c0 blue darken-3 btn-large"  type='submit'>CONFIRMAR</button>
    
        </form>
    </div>
</div>
{% endblock %}