{% extends "base.html" %}
{% block content %}
<div class="pantalla">
    <div class="contenedor">
        <div class="iconoMensaje"> <i class="large material-icons">done  </i> </div>
        <div class="titulos"><B>CONTRASEÑA ACTUALIZADA</B></div>
        <div class="mensaje">El cambio de contraseña ha finalizado correctamente.</div>
        <div class="detalleMensaje">
            Recuerda actualizar la contraseña almacenada en los dispositivos que hayas iniciado sección.
        </div>
    </div>
</div>
{% endblock %}
