{% block content %}
<div class="row">
    <p>su clave se encuentra vencida. debe cambiarla</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>
        <p>
            {{ form.password2_confirmation.label }}<br>
            {{ form.password2_confirmation(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>        
    </form>
</div>
<div class="row">
    <div class="center">
        <h6> Login versión {{ version }} </h6>
    </div>
</div>
{% endblock %}