{% extends "base.html" %}
{% block content %}
<div class="row">
    <p>su clave se encuentra vencida. debe cambiarla</p>
    {% from "_formhelpers.html" import submit, input_text, input_password %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ input_password(form.password2) }}
        {{ input_password(form.password2_confirmation)}}
        {{ submit(form.submit)}}

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>
        <p>
            {{ form.password2_confirmation.label }}<br>
            {{ form.password2_confirmation(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>        
    </form>
</div>
{% endblock %}