{% extends "base.html" %}
{% block content %}

<div class="pantalla">
    <div class="contenedor">
        <div class="iconoError"> <i class="large material-icons">lock_outline
        </i> </div>
        <!-- <div class="tituloError"><h5> <B>ERROR</B></h5></div> -->
        <div class="tituloError"><B>NUEVA CONTRASEÑA</B></div>
        <div class="mensaje">Requisito: La nueva contraseña debe contener al menos <b>8 caracteres</b>. </div>
        {% from "_formhelpers.html" import submit, input_password %}
        
        <form class="formulario" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
    
            {{ input_password(form.password) }}
    
            {{ input_password(form.password2) }}
    
            {{ submit(form.submit) }}
        </form>

    </div>
</div>
{% endblock %}
