.pantalla {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
    height: 100%;
}

.contenedor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    background-color: white;
    width: 400px;
    min-height: 422px;
    padding: 40px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
}

.formulario{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 20px;
}

.inputFormulario {
    font-weight: 100px;
    background-color: red;
}

.imgLogo {
    width: 100%;
}

.btn {
    margin-top: 20px;
}

.btnReset {
    margin: 0 auto;
    margin-top: 10px;
}

.btn label {
    font-size: 14px;
    color: white;
}

label {
    font-size: 14px;
}

 /* label color */
 .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #1565c0 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #90caf9   !important;
    box-shadow: 0 1px 0 0 #90caf9  !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #1565c0;
  }

@media screen and (max-width: 718px) {

    .pantalla {
        padding: 30px;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    }

    .contenedor {
        width: 100%;
        padding: 0px;
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
}
    

/* ******************* ERROR GENERAL********************** */

.iconoMensaje {
    text-align: center;
} 

.titulos {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.mensaje {
    text-align: center;
}

.detalleMensaje {
    font-weight: 300;
    margin-top: 40px;
    padding: 10px;
    background-color: #d4d4d4;
    border: 1px solid #EAEAEA;
}

/* ************************ CONSENT ***************************** */

.progress {
    background-color: #90caf9 !important;
    opacity: 0.5;
 }

.progress .indeterminate {
    background-color: #1565c0 !important;
}


/* ************************* EXTRAS ********************************* */


.correos {
    font-weight: bold;
    text-align: center;
}

.mensajeSecundario {
    font-size: 12px;
    margin-top: 10px;
}